@media screen and (max-width: 767px) {
bady{
  background-color: white;
  object-fit: cover; 
}
  #bx-user1,
  .icones {
    display: none;
  }

  .nav-search {
    padding: 0;
    margin: 0;
  }

  .search {
    position: absolute;
    top: 120px;
    width: 90%;
  }

  .search button {
    width: 16%;
  }

  .mobile-menu {
    display: block;
  }

  .nav-list i {
    padding: 13px;
    transform: translateX(-35px);
    transition: transform 0.8s ease-in;
    position: absolute;
    left: 60vw;
    top: -7px;
    cursor: pointer;
    color: white;
    font-size: 32px;
    background: #23232e;


  }


  .nav-list {
    position: absolute;
    top: 0px;
    left: 0;
    width: 50vw;
    height: 110vh;
    background: #23232e;
    display: block;
    transform: translateX(-200%);
    transition: transform 0.5s ease-in;
    z-index: 9999;
    cursor: pointer;



  }

  .nav-list li {
    list-style: none;
    margin: 5px;
    padding: 10px;
    border-bottom: 1px solid #bebebe;
    width: 100%;
    cursor: pointer;



  }

  .nav-list.open {
    transform: translateX(0%);
    padding: 10px;
    font-size: 16px;
    font-family: initial;

  }

  #btn-purchase {
 
  }





  .contagem_de_produto {
    margin-left: -4rem;
  
}



}




@media screen and (max-width: 768px) {
  .vitrine-container {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 90px;
    width: auto;
  }

  .vitrine-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    padding: 3px 21px;

  }

  .vitrine-title {
    margin: 0;
  }

  .vitrine-title h1 {
    width: 84vw;
    font-size: 25px;
  }

}




@media screen and (max-width: 768px) {
  .footer-middle {
    display: flex;
    flex-direction: column;
    align-items: center;


  }

  .footer-ajuda-suporte {

    left: 17px;
  }

  .social {
    padding-left: 17px;

  }





















}