/* Estilos específicos para telas menores (max-width: 768px) */
@media screen and (max-width: 768px) {

    .container-product-description,
    .conteiner-main,
    footer {
        display: none;
    }

    .body-main {
        margin: 0px;


    }





    .conteiner-main-mobile {
        position: relative;
        top: 100px;
        text-align: center;
        display: flex;
        flex-direction: column;

    }

    .icone-star-mobile i {
        font-size: 18px;
        margin: 5px;

    }

    /* Estilos para os botões esquerdo e direito */
    .slider-container {
        max-width: 300px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider {
        display: flex;
        transition: transform 0.3s ease;
    }

    .slider-item {
        width: 100%;
        height: auto;

    }

    .slider-container button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #333;
        color: #fff;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    #btn-left {
        left: 2px;
    }

    #btn-right {
        right: 10px;
    }
















}