* {
  box-sizing: border-box;
  margin: 0;
  object-fit: cover;

}

body,
html {
  font-family: Arial;
  margin: 0 auto;
  background: white;

}

.nav-search img {
  width: 250px;
  height: 100%;
  padding: 10px;
}

.nav-search {
  display: flex;
  align-items: center;
  box-shadow: 0 0 2px rgb(10, 149, 241);
  justify-content: space-between;
  object-fit: cover;  
}

.menu-container {
  display: none;
}

.menu-links {
  display: none;
}