* {
  box-sizing: border-box;
}

body {
  font-family: cursive;
  margin: 0;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  box-shadow: 0 0 2px rgb(10, 149, 241);

}

.logo {
  width: 200px;
  height: 100%;
  padding: 10px;
  margin-right: 100px;


}

.menu-container {
  display: none;
}

.menu-links{
  display: none;
}